.container {
    padding: 0 15px;
}

@media (min-width: 575.98px){
    .container {
        padding: 0 calc(50vw - 270px);
    }
}

@media (min-width: 767.98px){
    .container {
        padding: 0 calc(50vw - 360px);
    }
}

@media (min-width: 991.98px) {
    .container {
        padding: 0 calc(50vw - 480px);
    }
}

@media (min-width: 1199.98px){
    .container {
        padding: 0 calc(50vw - 590px);
    }
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;

    background-color: #fff;
    color: #000;

    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

div {
    position: relative;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
}

section:nth-child(2n) {
    background-color: #d9dad577;
}

section .wrapper-block-item {
    padding: 30px;
    flex: 0 0 50%;
    max-width: 50%;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(img/home-overlay-2.jpg) 0 0/cover no-repeat fixed;
    color: #000;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.home .welcom {
    display: flex;
    align-items: center;
    font-size: 2em;
}

header.container {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 99;
}

header:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #d9dad5;
}

header .header-logo {
    width: 60px;
}

header .header-menu ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 0;
}

header .header-menu ul li {
    list-style: none;
    margin: 0 10px;
}

header ul li a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 800;
    color: royalblue;
    overflow: hidden;
    background: linear-gradient(to right, #7C1F7C, #7C1F7C 50%, royalblue 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

header ul li a:hover {
    background-position: 0 100%;
}

header.fixed:after {
    height: 100%;
}

header .tog-menu {
    display: none;
}

header .toggle-menu {
    display: block;
    width: 28px;
    height: 28px;
    position: absolute;
}
  
header .toggle-menu span:after, header .toggle-menu span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
}
  
header .toggle-menu span:after {
    top: 18px;
}
  
header .toggle-menu span {
    position: relative;
    display: block;
}
  
header .toggle-menu span, header .toggle-menu span:after, header .toggle-menu span:before {
    width: 100%;
    height: 2px;
    background-color: #000;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
  
header .toggle-menu.on span {
    background-color: transparent;
}
  
header .toggle-menu.on span:before {
    -webkit-transform: rotate(45deg) translate(-1px, 0);
    -ms-transform: rotate(45deg) translate(-1px, 0);
    transform: rotate(45deg) translate(-1px, 0);
}
  
header .toggle-menu.on span:after {
    -webkit-transform: rotate(-45deg) translate(6px, -7px);
    -ms-transform: rotate(-45deg) translate(6px, -7px);
    transform: rotate(-45deg) translate(6px, -7px);
}
  
header .tog-menu > a {
    margin-top: 25px;
    margin-left: 10px;
    position: relative;
    z-index: 9999;
}

section h2 {
    text-align: center;
    font-size: 2em;
}

#services .container {
    display: flex;
    flex-wrap: wrap;
}

#services .services-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px 10px;
    border: 3px solid transparent;
    border-radius: 5px;
    box-shadow: 0 10px 18px 5px #dfe4ea;
    height: 100%;
    transition: all 0.3s ease;
}

#services .services-item:hover {
    border-color: #7C1F7C;
    box-shadow: 0 10px 18px 5px #929599;
}

#services .services-item .icon svg{
    min-width: 50px;
    min-height: 50px;
    width: 100px;
    height: 100px;
}

#services .services-item .description{
    text-align: justify;
}

/* #portfolio .container {
    display: grid;
    grid-template-columns: 100px 200px 80px;
    grid-template-rows: 100px 200px 80px;
}

#portfolio .portfolio-item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#portfolio .portfolio-item-3 {
    grid-row-start: 2;
    grid-row-end: 4;
}

#portfolio .portfolio-item-6 {
    grid-column-start: 2;
    grid-column-end: 4;
} */

/* #portfolio .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 20px;
    justify-content: space-evenly;
    justify-items: center;
    width: 100%;
    padding: 0 10px;
}

#portfolio .portfolio-item {
    position: relative;
    max-width: 350px;
}

#portfolio .portfolio-item img {
    max-width: 100%;
} */

#portfolio .container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

#portfolio .portfolio-item {
    -webkit-flex: 1 1 33%;
    -ms-flex: 1 1 33%;
    flex: 1 1 33%;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

#portfolio .portfolio-item img {
    max-width: 100%;
    max-height: 250px;
    height: 100%;
    vertical-align: top;
}

#portfolio .portfolio-item .description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
    padding: 15px;
}

#portfolio .portfolio-item:hover img {
    opacity: 0.2;
}

#portfolio .portfolio-item:hover .description {
    display: block; 
}

#skills .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#skills .wrapper-block-item {
    padding: 0;
    flex: 0 0 25%;
    max-width: 25%;
    align-self: center;
}

#skills .skill-item {
    /* flex: 0 0 20%; */
    margin-bottom: 20px;
    text-align: center;
}

#skills .skill-item svg {
    max-width: 150px;
    max-height: 150px;
    height: 100%;
}

footer {
    display: flex;
    align-items: flex-end;
    padding: 20px;
    background-color: #d9dad5;
    width: 100%;
    height: 70px;
}

footer .copyright {
    margin: 0 auto;
    text-align: center;
    vertical-align: bottom;
}

@media (max-width: 768px) {
    header .tog-menu {
        display: block;
    }

    header .header-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        left: 0px;
        top: 0px;
        background-color: rgb(217, 218, 213);
    }

    header .header-menu ul {
        flex-direction: column;
        align-items: center;
    }

    header .header-menu ul li {
        margin: 10px;
    }
    
    header .header-menu ul li:first-child {
        margin-top: 0;
    }

    header .header-menu ul li:last-child {
        margin-bottom: 0;
    }

    section .wrapper-block-item {
        padding: 15px;
    }

    #portfolio .portfolio-item {
        flex: 1 1 50%;
        max-width: 50%;
    }

    #skills .wrapper-block-item {
        flex: 0 0 33%;
        max-width: 33%;
    }
}

@media (max-width: 575px) {
    section .wrapper-block-item {
        padding: 10px;
    }
}

@media (max-width: 500px) {
    section .wrapper-block-item {
        padding: 15px 0;
        flex: 0 0 100%;
        max-width: 100%;
    }

    #services .services-item {
        padding: 0 15px 5px;
    }

    #portfolio .portfolio-item {
        flex: 1 1 100%;
        max-width: 100%;
    }

    #portfolio .portfolio-item img {
        max-height: 300px;
    }

    #skills .wrapper-block-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
}